* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns:  1fr 1fr 1fr;
  background-color: rgb(200, 224, 224);
  padding: 4em 3em;
  justify-content: center;
  align-items: center;
}

.downDiv {
  background-color: #fff;
}

.nav {
  background-color: #fff;
  color: rgb(190, 189, 189);
  padding: 1em 0;
  text-align: center;
  font-size: 1.25rem;
  font-family: 'Roboto', sans-serif;
}